.card {
    margin: 1rem;
    width: 90%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
}

.card_image {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid violet;
    transition: transform 0.3s ease-out, border 0.3s ease-out;
    transition-delay: 0.3s;
}

.card_image:hover {
    transform: scale(1.05);

}

.card_title {
    text-align: center;
    color: orange;
    text-transform: capitalize;
}

.card_price {
    color: blue;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
}

@media screen and (min-width: 1024px) {

    .card {
        width: 30%;
    }

}